# Database Connection (PostgreSQL)
DATABASE_URL="postgresql://chayfood:chayfood_secret@localhost:5432/chayfood_db?schema=public"

# Backend API Configuration
PORT=5000
NODE_ENV=development
JWT_SECRET="super_secret_chayfood_jwt_token_2026"
CORS_ORIGIN="http://localhost:3000"

# Frontend Configuration
NEXT_PUBLIC_API_URL="http://localhost:5000/api"
NEXT_PUBLIC_APP_NAME="ChayFood"
